<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Free Music is Here - Download Spotify{% endblock %}</title>
        <meta name="robots" content="noindex,nofollow" />
        {% block stylesheets %}
        {% stylesheets 'css/reset.css' 'css/colorbox.css' 'css/main.css' filter='yui_css' output='css/combined.css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% endblock %}
        <link rel="shortcut icon" href="http://cf.scdn.co/i/favicon.ico" type="image/vnd.microsoft.icon"> 
	<link rel="apple-touch-icon" href="http://cf.scdn.co/i/touch-icon-iphone.png"> 
	<link rel="apple-touch-icon" sizes="72x72" href="http://cf.scdn.co/i/touch-icon-ipad.png"> 
	<link rel="apple-touch-icon" sizes="114x114" href="http://cf.scdn.co/i/touch-icon-iphone4.png">
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="sptf-wrap">
            <div class="logo-bar">
                <a class="logo" href="{{ path('homepage') }}">Spotify</a>
            </div>
            <header>
                {% block header %}{% endblock %}
            </header>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
            <footer>
                <div class="terms">
                    <strong>Terms & Conditions</strong> This Agreement together with the Spotify Privacy Policy, the Mobile Terms (if applicable) and the Premium Code Terms (if applicable) constitutes all the terms and conditions agreed upon between you and Spotify and supersede any prior agreements, whether written or oral. Any additional or different terms or conditions in any written or oral communication from you to Spotify are void. 
                </div>
                <div class="copyright">Copyright © 2007-2010 Spotify Ltd</div>
            </footer>
        </div>
        {% block javascripts %}
        {% javascripts 'js/jquery.min.js' 'js/jquery.colorbox-min.js' 'js/app.js' filter='closure' output='js/combined.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock %}
    </body>
</html>
