<h3 class="title">Congratulations!</h3>
<div class="box-content">
    <p>You are now subscribed to Sotify Premium!</p>
    <p>To start listening, download the Spotify app to your mobile or computer:</p>
    <div class="downloads">
        <img height="200" src="/images/app-shots.png" alt="apps" />
        <ul class="links">
            <li><a href="#">iPhone</a></li>
            <li><a href="#">Android</a></li>
            <li><a href="#">Mac</a></li>
            <li><a href="#">Windows</a></li>
        </ul>
    </div>
</div>