<h3 class="title">Congratulations!</h3>
<div class="box-content">
    <p>You are now subscribed to Spotify Premium!</p>
    <p>To start listening, download the Spotify app:</p>
    <div class="downloads">
        <img height="200" src="/images/app-shots.png" alt="apps" />
        <ul class="links">
            <li><a href="http://www.spotify.com/us/mobile/iphone/">iPhone</a></li>
            <li><a href="http://www.spotify.com/us/mobile/android/">Android</a></li>
            <li><a href="http://www.spotify.com/us/mobile/symbian/">Symbian</a></li>
            <li><a href="http://www.spotify.com/us/mobile/windowsphone/">Windows Phone</a></li>
            <li><a href="http://www.spotify.com/us/mobile/palm/">Palm</a></li>
        </ul>
    </div>
</div>