/**
 * stylesheet for sptf_test
 * 
 * @author Bastian Kuberek <bastian@bkuberek.com>
 */
 
body {
    font-family: helvetica, arial, sans-serif;
}

.sptf-wrap { 
    width: 980px; 
    margin: 0 auto;
}

.logo-bar {
    display: block;
    width: 100%;
    height: 49px;
    margin: 20px 0 0 0;
    overflow: hidden;
    background: transparent url(/images/bg-logo-bar.png) 0 0 no-repeat scroll;
    position: relative;
}

.logo-bar a.logo {
    display: block;
    float: left;
    width: 110px;
    height: 44px;
    margin: 2px 0 0 15px;
    text-indent: -9999px;
}

.logo-bar a.github {
    height: 40px;
    width: 40px;
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
}

.logo-bar a.github img {
    height: 40px;
    width: 40px;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
.logo-bar a.github:hover img {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
}

header { 
    margin: 0 0 20px 0; 
    width: 100%;
    background: transparent url(/images/bg-header.png) 0 100% no-repeat scroll;
}

header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

header .spotify-free {
    float: left;
    background: transparent url(/images/spotify-free.png) 0 0 no-repeat scroll;
    margin: 60px 0 10px 50px;
    height: 76px;
    width: 440px;
    font-size: 20px;
    color: #ffffff;
    text-indent: -9999px;
}

header .spotify-free-info {
    color: #fff;
    float: left;
    width: 440px;
    height: 65px;
    margin: 10px 0 10px 50px;
    font-size: 14px;
    line-height: 2em;
}

header img.app-shots {
    float: right;
    margin: 20px 40px 0 0;
}

header .spotify-free-try {
    float: left;
    width: 408px;
    height: 106px;
    margin: 10px 0 0 30px;
    padding: 10px 10px 0 10px;
    background: transparent url(/images/bg-btn01.png) 0 0 no-repeat scroll;
}

.spotify-free-try-btn {
    display: block;
    width: 387px;
    height: 69px;
    background: transparent url(/images/btn-try-spotify-free.png) 0 0 no-repeat scroll;
    text-indent: -9999px;
}

footer {
    margin: 40px 0;
}

footer .terms {
    font-size: 0.7em;
    color: #b3b3b3;
}

footer .terms strong {
    color: #868686;
}

footer .copyright {
    font-size: 0.8em;
    text-align: center;
    margin-top: 20px;
    color: #c2c2c2;
}

section.homepage {
    padding: 0 15px;
}

section.homepage .section-header {
    width: 100%;
    height: 48px;
    background: transparent url(/images/homepage-section-head.png) 50% 50% no-repeat scroll;
    text-indent: -9999px;
}

section.homepage .row {
    padding: 20px 0;
}

section.homepage .row:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

section.homepage article {
    float: left;
    width: 281px;
}

section.homepage article.col2 {
    margin: 0 53px;
}

section.homepage article .info {
    padding: 0 12px;
}

section.homepage article h3 {
    color: #7ab800;
}

section.homepage article p {
    padding: 5px 0;
    line-height: 1.4em;
    color: #333333;
}

section.homepage article .read-more {
    font-family: arial, helvetica, sans-serif;
    color: #19456d;
    text-decoration: none;
}

section.homepage article .read-more:hover {
    text-decoration: underline;
}

section.movies .filters {
    margin: 0 0 20px 0;
}

section.movies #filter-range {
    display: inline;
}

section.movies table.list {
    width: 100%;
}

section.movies table.list th,
section.movies table.list td {
    padding: 5px;
    text-align: left;
    vertical-align: top;
}

section.movies table.list th {
    background: #dfeeb8;
}

section.movies table.list tr:nth-child(even) td {
    background: #d9d9d9;
}

section.movies h1 {
    font-size: 2em;
    margin: 0 0 1em 0;
}

#colorbox h3.title {
    height: 34px;
    overflow: hidden;
    background: transparent url(/images/bg-logo-bar.png) 50% 50% no-repeat scroll;
    color: #ffffff;
    font-size: 20px;
    padding: 16px 0 0 20px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#colorbox .box-content {
    color: #fff;
    padding: 20px;
    font-size: 14px;
    background:  url(/images/bg-header.png) 85% 65% no-repeat scroll;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

#colorbox form {
    padding: 20px 0 0 0;
}

#colorbox .form-row {
    height: 16px;
    margin-bottom: 10px;
    font-size: 12px;
}

#colorbox .form-row:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#colorbox .form-action {
    margin-top: 20px;
}

#colorbox .form-row label {
    display: block;
    width: 120px;
    float: left;
    font-weight: bold;
    line-height: 24px;
}

#colorbox .form-row input[type="text"],
#colorbox .form-row input[type="url"],
#colorbox .form-row input[type="email"],
#colorbox .form-row input[type="number"],
#colorbox .form-row input[type="password"] {
    width: 230px;
    float: left;
    margin-right: 10px;
}

#colorbox .form-row .notification {
    display: block;
    float: left;
    height: 24px;
    line-height: 24px;
    width: 208px;
    padding-left: 30px;
    color: #fff;
    font-weight: bold;
}

#colorbox .form-row .notification.valid {
    background: transparent url(/images/valid.png) 0 50% no-repeat scroll;
}

#colorbox .form-row .notification.error {
    color: red;
    background: transparent url(/images/error.png) 0 50% no-repeat scroll;
}

#colorbox p {
    line-height: 1.4em;
}

#colorbox .downloads {
    margin: 20px 0; 
}

#colorbox .downloads:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#colorbox .downloads img {
    float: right;
    margin-right: 40px;
}

#colorbox .downloads ul {
    float: left;
    list-style: none;
    margin: 0 0 0 30px;
    padding: 0;
}

#colorbox .downloads li {
    margin: 10px 0;
}

#colorbox .downloads li a {
    display: block;
    width: 184px;
    height: 30px;
    background: transparent url(/images/icons.png) -58px -88px no-repeat scroll;
    color: #fff;
    font-weight: bold;
    line-height: 30px;
    text-align: left;
    padding-left: 20px;
    text-decoration: none;
}

#colorbox .downloads li a:hover {
    background-position: -58px -124px;
}

#colorbox .downloads li a:active {
    background-position: -58px -160px;
}
